@page "/WIP"

<MudPopoverProvider />

<h3>WIP</h3>
<MudMenu Label = "Menu">
    <MudMenuItem Label = "Home" Href = "/"/>
    <MudMenuItem Label = "Core" Href = "/core"/>
    <MudMenuItem Label = "WIP" Href = "/WIP"/>
</MudMenu>
@code{

}